<div class="container" *ngIf="composition && activatedRoute.children.length === 0">
  <button mat-mini-fab color="primary"
          style="float: right;margin-right:24px;margin-top: 12px "
          class="add-comment-btn"
          matTooltip="{{'Composition.Export to pdf' | translate}}" (click)="exportPdf()">
    <mat-icon style="text-align: center; margin: auto; justify-content: center">picture_as_pdf</mat-icon>
  </button>
  <header class="jumbotron">
    <h3 class="text-overflow title">{{composition.title}}</h3>
  </header>

  <div>
    <span class="header">{{"Composition.Author" | translate}}: </span>
    <span style="font-style: oblique">{{composition.author.username}}</span>
    <mat-divider></mat-divider>
  </div>

  <div>
    <span class="header">{{"Composition.Genres" | translate}}: </span>
    <span *ngFor="let i = index; let genres of composition.genres" style="font-style: oblique">
      {{genres.genrename|translate}}<span *ngIf="(i===composition.genres.length-1) else comma">.</span>
      <ng-template #comma>,</ng-template>
          </span>
    <mat-divider></mat-divider>
  </div>

  <div><span class="header">{{"Composition.Description" | translate}}:</span>
    <p class="description text-overflow">{{composition.description}}</p>
  </div>
  <mat-divider></mat-divider>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="chapter-header">{{"Composition.Chapters" | translate}}:</mat-panel-title>
      <mat-icon>expand_more</mat-icon>
    </mat-expansion-panel-header>
    <mat-list *ngFor="let chapter of chapters ">
      <div>
        <mat-icon class="chapter-icon">bookmark</mat-icon>
        <mat-list-item class="chapter-name" (click)="readChapter(chapter)">{{chapter.chaptername}}</mat-list-item>
      </div>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-expansion-panel>

  <div class="start-reading-button">
    <button mat-raised-button color="primary" (click)="readFirstChapter()">
      {{"Composition.Begin Read from First Chapter" | translate}}</button>
  </div>

  <mat-divider class="divider"></mat-divider>
  <div class="comment-header">{{"Composition.Comments on the composition" | translate}}:
    <button mat-mini-fab color="primary" class="add-comment-btn" (click)="openCommentArea()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div id="add-comment" hidden>
    <form class="formComment">
      <mat-form-field class="formComment">
        <mat-label>{{"Composition.Comment" | translate}}</mat-label>
        <textarea id="textarea-comment" name="text" [(ngModel)]="addCommentText" matInput
                  placeholder="{{'Composition.Write a comment' | translate}}"></textarea>
      </mat-form-field>
    </form>
    <div class="add-comment-div-btn">
      <button mat-raised-button color="primary" style="margin-right: 12px" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="addComment()">Leave a comment</button>
    </div>
    <mat-divider class="divider"></mat-divider>
  </div>

  <div>

    <mat-list *ngFor="let comment of filterComments">
      <div style="margin-top: 5px; margin-bottom: 5px;">

        <button id="{{comment.id}}" disabled mat-mini-fab class="comment-img-profile" style="background-color: #3F51B5">
          <div class="author-name-onimage">{{comment.commentUser.username.slice(0, 1).toUpperCase()}}</div>
        </button>

        <div>
          <h5>{{comment.commentUser.username}}</h5>
        </div>
        <div class="comment-user-text">
          <span class="text">{{comment.text}}</span>
        </div>
      </div>
      <mat-divider class="divider"></mat-divider>
    </mat-list>
    <mat-paginator [length]="commentsAmount" [pageSize]="4" [pageSizeOptions]="[4, 8, 25, 100]"
                   (page)="$event; onPaginateChange($event)">
    </mat-paginator>
  </div>
</div>
<router-outlet></router-outlet>


