<mat-nav-list (mouseenter)="mouseenter()"
              (mouseleave)="mouseleave()" class="toolbar-width">

  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width crop title">{{title}}</span>
    <mat-icon mat-list-icon>book</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">expand_more
    </mat-icon>
  </mat-list-item>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
    <cdk-virtual-scroll-viewport itemSize="6" class="viewport">
      <div cdkDropList (cdkDropListDropped)="dropped($event)">
        <div *ngFor="let item of chapters; let i = index" cdkDrag class="box">
          <mat-list-item (click)="readChapter(item.id)" class="list">
            <span class="heading-number-chapter">{{i + 1}}</span>
            <span class="crop chaptername">&emsp;{{item.chaptername}}</span>
          </mat-list-item>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</mat-nav-list>

<div class="add-chapter-div ">
  <button mat-fab color="primary" class="add-chapter-btn" (click)="addChapter()">
    <mat-icon class="add-chapter-icon">add</mat-icon>
  </button>
</div>


