@import '~@angular/material/theming';
@include mat-core();

$bv-brand: (
  50 : #f7f0ff,
  100 : #ebdbfe,
  200 : #ddc3fe,
  300 : #cfaafd,
  400 : #c598fc,
  500 : #bb86fc,
  600 : #b57efc,
  700 : #ac73fb,
  800 : #a469fb,
  900 : #9656fa,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f9f6ff,
  A700 : #e9dcff,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$app-primary: mat-palette($bv-brand);
$app-accent: mat-palette($mat-indigo);
$app-warn: mat-palette($mat-red);

$theme-dark: mat-dark-theme($app-primary, $app-accent, $app-warn);

.dark {
  background: #424242;
  color: #dddddd;
  header{
    background-color: #505050;
  }
  span.header{
    color: #BB86FC;
  }
  mat-divider.compositions-divider{
    background-color: #BB86FC;
  }
  div.card{
    background: #505050;
  }
  li.search-li{
    background: #505050;
  }
  nav.navbar{
    background-color: #BB86FC;
  }
  mat-label{
    color: #BB86FC !important;
  }
  button.read-button{
    background-color: #BB86FC;
  }
  mat-panel-title.chapter-header{
    color: #BB86FC;
  }
  div.comment-header{
    color: #BB86FC;
  }
  button.comment-img-profile{
    background-color: #BB86FC !important;
  }
  button.theme{
    background-color: #BB86FC;
  }
  div.box{
    background-color: #424242;
  }
  mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #424242;
  }
  mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #dddddd;
  }
  @include angular-material-theme($theme-dark);
}

