<div class="container">
  <form class="chapter-form">
    <div>
      <input class="loadImage-edit" type="file" style="display:none" accept="image/*" #file
             (change)="loadImage(file.files)">
      <mat-icon class="hidden-icon-edit" aria-hidden="false" (click)="callLoadImage()">add_photo_alternate</mat-icon>
      <div class="img_container container-img">
        <img [src]="this.compositionService.imgUrl" height="200" *ngIf="this.compositionService.imgUrl" id="img">
        <div class="overlay">
          <mat-icon aria-hidden="false" (click)="openBottomSheet()" class="icon">edit</mat-icon>
        </div>
      </div>
    </div>

    <mat-form-field appearance="fill" class="full_width padding">
      <mat-label>{{"Chapter.Chapter title" | translate}}</mat-label>
      <input matInput name="chaptername" [(ngModel)]="title" id="chapterName"
             placeholder="{{'Chapter.Chapter title' | translate}}">
    </mat-form-field>
    <br>

    <mat-form-field class="full_width">
      <textarea matInput name="text" id="textAreaChapterEdit" value="{{text}}"></textarea>
    </mat-form-field>

    <div>
      <button mat-raised-button (click)="onSubmit()">{{"Chapter.Save Chapter" | translate}}</button>
    </div>
  </form>
</div>
