<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card"/>
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput type="text" name="username" [(ngModel)]="form.username" required
                 #username="ngModel"/>
        </mat-form-field>
        <div class="alert mat-error" role="alert" *ngIf="f.submitted && username.invalid">
          Username is required!
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="form.password" required minlength="6"
                 #password="ngModel"/>
        </mat-form-field>
        <div class="alert mat-error" role="alert" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button mat-raised-button color="primary" class="btn btn-block">Login</button>
      </div>
      <div align="center">
        <a href="/login/google">Войти через Google</a>
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>
  </div>
</div>
