<div class="container" *ngIf="route.children.length === 0">
  <mat-vertical-stepper [linear]="!isLinear" #stepper>

    <mat-step  [stepControl]="firstFormGroup" >
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter the title of the composition</ng-template>
        <mat-form-field class="full_width">
          <mat-label>Composition name</mat-label>
          <input matInput #title type="text" placeholder="Compositionname" formControlName="firstCtrl" required maxlength="100"
                 [(ngModel)]="form.title">
          <mat-hint align="end">{{title.value.length}} / 100</mat-hint>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Enter a description of the composition</ng-template>
        <mat-form-field class="full_width">
          <mat-label>Description</mat-label>
          <textarea type="text" #message matInput formControlName="secondCtrl" placeholder="description" maxlength="510"
                    [(ngModel)]="form.description"
                    required></textarea>
          <mat-hint align="end">{{message.value.length}} / 510</mat-hint>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Choose genres</ng-template>
        <mat-form-field class="full_width">
          <mat-label>Genre</mat-label>
          <mat-select multiple [(ngModel)]="form.genres" formControlName="thirdCtrl">
            <mat-option *ngFor="let topping of allGenre" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="onSubmit()" id="toChapters">{{value}}</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
<router-outlet></router-outlet>
