<div class="container">
  <header class="jumbotron"><h3 class="allComposition-home">{{"Home.COMPOSITIONS" | translate}}</h3></header>
  <mat-list *ngFor="let composition of filteredCompositions" role="list">
    <div class="composition-margin">
      <div style="float: left;">
        <mat-icon class="book-icon" style="">book</mat-icon>
      </div>
      <fieldset>
        <h3 class="home-title">{{composition.title}}
          <mat-divider></mat-divider>
        </h3>
        <mat-icon class="expand-more-icon" (click)="showMore(composition.id)">expand_more</mat-icon>
        <div class="text-overflow" id="{{composition.id}}" (click)="showMore(composition.id)">
          <span class="header">{{"Home.Description" | translate}}:</span> {{composition.description}}
        </div>
        <mat-divider></mat-divider>
        <span>
          <span class="header">{{"Home.Genres" | translate}}: </span>
          <span *ngFor="let i = index; let genres of composition.genres" style="font-style: oblique">
            {{genres.genrename}}<span *ngIf="(i===composition.genres.length-1) else comma">.</span>
            <ng-template #comma>,</ng-template>
          </span>
        </span>
        <mat-divider></mat-divider>
        <div id="wrap">
          <button mat-button class="read-button"
                  (click)="readComposition(composition.id)">{{"Home.Read" | translate}}</button>
          <span class="publicationDate">
          {{"Home.Publication Date" | translate}}: {{composition.publicationDate.slice(0, 10)}}</span>
        </div>
      </fieldset>
      <mat-divider class="compositions-divider"></mat-divider>
    </div>
  </mat-list>
  <mat-paginator [length]="compositionAmount" [pageSize]="4" [pageSizeOptions]="[4, 10, 25, 100]"
                 (page)="$event; onPaginateChange($event)">
  </mat-paginator>
</div>

