<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card"/>
    <form *ngIf="!isSuccessful" name="form" #f="ngForm" novalidate>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>{{"Register.Username" | translate}}</mat-label>
          <input matInput type="text" name="username" [(ngModel)]="form.username" required minlength="3"
                 maxlength="20" #username="ngModel"/>
        </mat-form-field>
        <div class="mat-error" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">{{"Register.Username is required" | translate}}</div>
          <div *ngIf="username.errors.minlength">{{"Register.Username must be at least 3 characters" | translate}}</div>
          <div *ngIf="username.errors.maxlength">{{"Register.Username must be at most 20 characters" | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>{{"Register.Email" | translate}}</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="form.email" required email #email="ngModel"/>
        </mat-form-field>
        <div class="mat-error" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">{{"Register.Email is required" | translate}}</div>
          <div *ngIf="email.errors.email">{{"Register.Email must be a valid email address" | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>{{"Register.Password" | translate}}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="form.password" required
                 minlength="6"
                 #password="ngModel"/>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="mat-error" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">{{"Register.Password is required" | translate}}</div>
          <div *ngIf="password.errors.minlength">{{"Register.Password must be at least 6 characters" | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <button mat-raised-button color="primary" class="btn btn-block" (click)="f.form.valid && onSubmit()">
          {{"Register.Sign Up" | translate}}</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">{{"Register.Signup failed!" | translate}}
        <br/>{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      {{"Register.Please, confirm email!" | translate}}
    </div>
  </div>
</div>
