<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card"/>
    <div style="margin-bottom: 12px">
      <button mat-flat-button color="primary"
              style="width: 48%;background-color:#ef4339; margin-right: 2%;text-align: center"
              onclick="parent.location='https://accounts.google.com/o/oauth2/auth?redirect_uri=https://fanfictionfront.herokuapp.com/google/auth&response_type=code&client_id=30011668004-ta3r286f4buks2ed9rsqbc8nhoo4qaum.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile'">
        <img src="https://img.icons8.com/ios/50/000000/google-plus.png"
             style="height: 30px;filter: invert();float: left;margin-top: 3px"/>
        Google
      </button>
      <button mat-flat-button color="primary" style="width: 48%;background-color: #4a76a7; text-align: center"
              onclick="parent.location='https://oauth.vk.com/authorize?client_id=7549235&display=popup&redirect_uri=https://fanfictionfront.herokuapp.com/vk/auth&scope=email&response_type=code'">
        <img src="https://cdn.icon-icons.com/icons2/535/PNG/512/VK-Icon_icon-icons.com_52860.png"
             style="height: 30px;float: left;margin-top: 3px"/>
        VKontakte
      </button>
    </div>
    <form *ngIf="!isSuccessful" name="form" #f="ngForm" novalidate (ngSubmit)="f.form.valid && onSubmit()">
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>{{"Register.Username" | translate}}</mat-label>
          <input matInput type="text" name="username" [(ngModel)]="form.username" required minlength="3"
                 maxlength="20" #username="ngModel"/>
        </mat-form-field>
        <div class="mat-error" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">{{"Register.Username is required" | translate}}</div>
          <div *ngIf="username.errors.minlength">{{"Register.Username must be at least 3 characters" | translate}}</div>
          <div *ngIf="username.errors.maxlength">{{"Register.Username must be at most 20 characters" | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>{{"Register.Email" | translate}}</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="form.email" required email #email="ngModel"/>
        </mat-form-field>
        <div class="mat-error" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">{{"Register.Email is required" | translate}}</div>
          <div *ngIf="email.errors.email">{{"Register.Email must be a valid email address" | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>{{"Register.Password" | translate}}</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="form.password" required
                 minlength="6"
                 #password="ngModel"/>
        </mat-form-field>
        <div class="mat-error" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">{{"Register.Password is required" | translate}}</div>
          <div *ngIf="password.errors.minlength">{{"Register.Password must be at least 6 characters" | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <button mat-raised-button color="primary" class="btn btn-block">
          {{"Register.Sign Up" | translate}}</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">{{"Register.Signup failed!" | translate}}
        <br/>{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      {{"Register.Please, confirm email!" | translate}}
    </div>
  </div>
</div>
